* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive; /* Apply Comic Sans */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;        /* Prevent horizontal scroll */
  overflow-y: auto;      
  overscroll-behavior: none;     /*Prevent bounce on both axes*/
}

.Myborder {
  min-width: 100vw;
  min-height: 100vh;
  background-color: yellow;
}



